doctype html
html(lang='en')
  head
    // Required meta tags always come first
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Historic Utah Churches
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='stylesheets/mdb.min.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='stylesheets/styleIt.css')
    style.
      .top-nav-collapse {
      background-color: #3f51b5!important;
      }
      @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
      background: #3f51b5!important;
      }
      }
      h5 {
      letter-spacing: 3px;
      }
      @media (max-width: 740px) {
      .full-height,
      .full-height body,
      .full-height header,
      .full-height header .view {
      height: 700px;
      }
      }
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.elegant-color
      // Navbar brand
      // Collapse button
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#basicExampleNav', aria-controls='basicExampleNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      // Collapsible content
      #basicExampleNav.collapse.navbar-collapse
        // Links
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link.float-right(href='/patrons') Patrons
          li.nav-item
            a.nav-link.float-right(href='/map') Map
          li.nav-item
            a.nav-link.float-right(href='/auth') Register
          li.nav-item.float-right
            a.nav-link.float-right(href='/auth/login') Log In
        // Links
      // Collapsible content
    // /.Navbar
    .container
      // Default form login
      form(method='POST', action='/auth/login')
        p.h4.text-center.mb-4 Sign in
        // Default input email
        label.grey-text(for='email') Your email
        input#email.form-control(type='email', name='emailAddress')
        br
        // Default input password
        label.grey-text(for='password') Your password
        input#password.form-control(type='password', name='password')
        .text-center.mt-4
          button.btn.btn-indigo(type='submit') Login
      // Default form login
    // Footer
    footer.page-footer.font-small.mdb-color.pt-4
      // Footer Links
      .container.text-center.text-md-left
        // Footer links
        .row.text-center.text-md-left.mt-3.pb-3
          // Grid column
          .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
            h6.text-uppercase.mb-4.font-weight-bold Historic Utah Churches
            p See the beauty, discover the history, and experience these amazing buildings. 
          // Grid column
          hr.w-100.clearfix.d-md-none
          // Grid column
          .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
            h6.text-uppercase.mb-4.font-weight-bold Participate
            p
              a(href='/auth') Create an account
            p
              a(href='#!') Visit a church
            p
              a(href='#!') Attend a concert
            p
              a(href='#!') Contribute
          // Grid column
          hr.w-100.clearfix.d-md-none
          // Grid column
          .col-md-3.col-lg-2.col-xl-2.mx-auto.mt-3
            h6.text-uppercase.mb-4.font-weight-bold Useful links
            p
              a(href='#!') Contact Us
            p
              a(href='#!') Become an Affiliate
            p
              a(href='/auth/login') Log in
            p
              a(href='#!') Help
          // Grid column
          hr.w-100.clearfix.d-md-none
          // Grid column
          .col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3
            h6.text-uppercase.mb-4.font-weight-bold Contact
            p
              i.fa.fa-home.mr-3
              |  New York, NY 10012, US
            p
              i.fa.fa-envelope.mr-3
              |  stevemartinrealestate@gmail.com
            p
              i.fa.fa-phone.mr-3
              |  + 01 234 567 88
            p
              i.fa.fa-print.mr-3
              |  + 01 234 567 89
          // Grid column
        // Footer links
        hr
        // Grid row
        .row.d-flex.align-items-center
          // Grid column
          .col-md-7.col-lg-8
            // Copyright
            p.text-center.text-md-left
              | © 2018 Copyright:
              strong  historicutahchurches.com
          // Grid column
          // Grid column
          .col-md-5.col-lg-4.ml-lg-0
            // Social buttons
            .text-center.text-md-right
              ul.list-unstyled.list-inline
                li.list-inline-item
                  a.btn-floating.btn-sm.rgba-white-slight.mx-1
                    i.fa.fa-facebook
                li.list-inline-item
                  a.btn-floating.btn-sm.rgba-white-slight.mx-1
                    i.fa.fa-twitter
                li.list-inline-item
                  a.btn-floating.btn-sm.rgba-white-slight.mx-1
                    i.fa.fa-google-plus
                li.list-inline-item
                  a.btn-floating.btn-sm.rgba-white-slight.mx-1
                    i.fa.fa-linkedin
          // Grid column
        // Grid row
      // Footer Links
    // Footer
    // SCRIPTS
    // JQuery
    // <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    // Bootstrap tooltips
    script(type='text/javascript', src='javascripts/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='javascripts/mdb.min.js')
    script.
      new WOW().init();
      // MDB Lightbox Init
      $(function () {
      $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
      });
    script.
      // SideNav Button Initialization
      $(".button-collapse").sideNav();
      // SideNav Scrollbar Initialization
      var sideNavScrollbar = document.querySelector('.custom-scrollbar');
      Ps.initialize(sideNavScrollbar);
